.mt-0 {
    margin-top: 120px !important;
  }
  
.contact-btn{
    background-color: navy;
    color: white;
    border-radius: 15px;
    height: 30px;
    width: 100px;
    margin-right: 20px;
}

.download_container h5{
    color: navy;
}

.icon_button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: navy;
    margin: 25px 8px;
    cursor: pointer;
}

.fa-brands{
    color: white;
}

#default_picture{
    height: 400px;
    width: 400px;
    border-radius: 15px 15px 0 0;
}

.identity{
    padding: 20px;
    box-shadow: 0 0 5px black;
    height: 100px;
    width: 400px;
}

.contact-section{
    margin: auto;
    width: 40%;
}

.contact-section #full_name, #email, #phone, #subject,
#message{
 color: black;
 border-color: navy;
}

label{
    color: navy;
}

#submit_btn{
    color: white;
    background-color: navy;
    border-radius: 15px;
    text-align: end;
}

.contact_submit_button{
    text-align: end;
}

/* Blog.html*/
.project-section{
    margin: auto;
    width: 40%;
}

.container_date{
    display: flex;
}

.container_date .left_date{
    width: 50%;
    margin-right: 5%;
}

.container_date .right_date{
    width: 50%;
    margin-left: 5%;
}

.container_date #start_date, #end_date{
    height: 30px;
    border-radius: 10px;
}

.container_technologies{
    display: flex;
    margin-bottom: 10px;
}

#left_technologies{
    margin-right: 100px;
}

.upload_project{
    text-align: end;
}

#upload_project_button{
    color: white;
    background-color: navy;
    border-radius: 15px;
}

#project-second-section{
    height: 600px;
}

.big_content{
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

.card-body h5 a{
    text-decoration: none;
    color: black;
}

.card h6 {
    text-decoration: none;
    color: rgb(179, 173, 173);
    font-size: 13px;
    margin-left: 16px;
}

.card-body .flex_language_icon{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
/*.card-body .flex_language_icon .fa-node-js {
    display: inline;
    margin-right: 1vw;
}

.card-body .flex_language_icon .fa-react {
    display: inline;
    margin-right: 1vw;
}

.card-body .flex_language_icon .fa-vuejs {
    display: inline;
    margin-right: 1vw;
}

.card-body .flex_language_icon .fa-angular {
    display: inline;
    margin-right: 1vw;
}*/

.card-body #edit_content_button{
    width: 45%;
    display: inline;
    box-sizing: border-box;
    border-radius: 15px;
    color: white;
    background-color: navy;
}

.card-body #delete_content_button{
    width: 45%;
    display: inline;
    box-sizing: border-box;
    border-radius: 15px;
    color: white;
    background-color: navy;
}

